@font-face {
  font-family: "iconfont"; /* Project id 1916880 */
  src: url('iconfont.woff2?t=1709547124060') format('woff2'),
       url('iconfont.woff?t=1709547124060') format('woff'),
       url('iconfont.ttf?t=1709547124060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangji2:before {
  content: "\e780";
}

.icon-maikefeng1:before {
  content: "\e60c";
}

.icon-luyin:before {
  content: "\e766";
}

.icon-shengbo2:before {
  content: "\e604";
}

.icon-voice-pause:before {
  content: "\e625";
}

.icon-voice-play:before {
  content: "\ea83";
}

.icon-chatroom-voice:before {
  content: "\e6c1";
}

.icon-chatroom-text:before {
  content: "\e64b";
}

.icon-chatroom-addfriend:before {
  content: "\e702";
}

.icon-addfriend-link:before {
  content: "\e613";
}

.icon-addfriend-email:before {
  content: "\e633";
}

.icon-addfriend-share:before {
  content: "\e64f";
}

.icon-addfriend-message:before {
  content: "\e67b";
}

.icon-bianji:before {
  content: "\e60a";
}

.icon-zhuangtai:before {
  content: "\e957";
}

.icon-shezhi:before {
  content: "\e650";
}

.icon-ustate-busy:before {
  content: "\e610";
}

.icon-ustate-idle:before {
  content: "\e603";
}

.icon-ustate-online:before {
  content: "\ea6a";
}

.icon-ustate-stealth:before {
  content: "\e636";
}

.icon-add1:before {
  content: "\e620";
}

.icon-fasong:before {
  content: "\e630";
}

.icon-xiaolian-mianxing:before {
  content: "\e682";
}

.icon-xiaolian:before {
  content: "\e609";
}

.icon-dianhua:before {
  content: "\e608";
}

.icon-shipin:before {
  content: "\e601";
}

.icon-yuyin:before {
  content: "\e621";
}

.icon-server-conf:before {
  content: "\e607";
}

.icon-back2:before {
  content: "\e612";
}

.icon-my:before {
  content: "\e615";
}

.icon-ask:before {
  content: "\e61f";
}

.icon-search:before {
  content: "\e637";
}

.icon-add:before {
  content: "\e60b";
}

.icon-upload:before {
  content: "\e624";
}

.icon-service:before {
  content: "\e600";
}

.icon-msg:before {
  content: "\e61d";
}

.icon-wode:before {
  content: "\e61c";
}

.icon-tongzhi:before {
  content: "\e63c";
}

.icon-backspace:before {
  content: "\ea82";
}

.icon-md-log-out:before {
  content: "\e820";
}

.icon-offline_fill:before {
  content: "\e712";
}

.icon-offline:before {
  content: "\e713";
}

.icon-stealth_fill:before {
  content: "\e72c";
}

.icon-stealth:before {
  content: "\e72d";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-finish:before {
  content: "\e6c7";
}

.icon-prompt:before {
  content: "\e6c8";
}

.icon-tongguo:before {
  content: "\e629";
}

.icon-back:before {
  content: "\e606";
}

.icon-duihua:before {
  content: "\e69d";
}

