$ThemeColor: rgb(49, 51, 56);
$ThemePrimaryColor: rgb(88, 101, 242);
$ThemePrimary1Color: rgb(148, 156, 247);
$ThemeLightColor: rgb(56, 58, 67);
$ThemeDark1Color: rgb(40, 42, 46);
$ThemeDark2Color: rgb(30, 31, 34);
$ThemeDark3Color: rgb(28, 29, 35);
$ThemeDark4Color: rgb(19, 19, 24);
$ThemeDark5Color: rgb(16, 17, 20);
$ThemeDarkPop: rgb(38, 38, 46);

$BtnPrimaryColor: rgb(88, 101, 242);
$BtnPrimaryPressColor: #404baf;

:export {
	BtnPrimaryColor: $BtnPrimaryColor;
	BtnPrimaryPressColor: $BtnPrimaryPressColor;
	ThemeDark1Color: $ThemeDark1Color;
	ThemeDark2Color: $ThemeDark2Color;
}
